@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:18px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}
a{
    color: inherit;
    text-decoration: none;
}
ul, ol, li{
    list-style-type: none;
}
.inner{
    width: 1240px;
    margin: 0 auto;
}
#wrap{
    width: 100%;
}

/*********************** header **********************/
header{
    width: 100%;
    height: 130px;
    background-color: #eee;
    position: fixed;
    top:0;
    padding-top: 15px;
    z-index: 999;
}
#logo{
    float: left;
}                     
header nav ul li{
    float: left;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 45px;
    color:#777;
}
header nav ul li:first-child{
    color:black;    
}
header .menu{
    float: right;    
}
header .menu img{
    padding-top: 45px;
}
header .menu a{
    margin-left: 15px;
}
header .menu a:last-child{
    background-color: #DE5450;
    display: inline-block;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    line-height: 50px;
    color:#fff;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    position: relative;
    top:-10px;
}

/* title */
.list{
    float: right;
    color:#999;
}
.list a:nth-child(2){
    color:#333;
}
.list a:first-child::after{
    content: '>';
    padding-left: 10px;
    padding-right: 10px;
}
.title{
    height: 150px;
    padding-top: 150px;
}
.title h2{
    font-size: 2.5rem;
    text-align: center;
    padding-left: 60px;
    padding-top: 60px;
    margin-bottom: 60px;
}
.title h2::before{
    content:url(../img/logo_B.png);
    position: relative;
    top: 10px;
    left:-5px;
}

/* title 끝 */

/*********************** section1 **********************/
.section1{
    height: 800px;
    background-image: url(../img/company2.jpg);
    background-repeat: no-repeat; 
    min-width: 1240px;
    background-position: top center; 
    color: #DE5450;
    margin-top: 200px;
    text-align: left;
}
.section1 h3{
    padding-top: 250px;
    font-size: 4em;
    opacity: 0.8;
}
.section1 p{
    padding: 50px 0;
    font-size: 2em;
    font-weight: 300;
}

/*********************** section2 **********************/
.section2 .inner{
    margin:100px auto;  
}
.section2 h3{
    font-size: 1.2em;
    padding: 50px 0;
}
.section2 p{
    font-size: 1em;
}


/*********************** section3 **********************/
.section3{
    clear: both;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 1240px;
    height: 450px;    
    color:rgba(255, 255, 255, 0.9);    
    padding-top: 10px;    
}
.section3 .banner{
    float: right;  
    text-align: right;  
}
.section3 h3{
    font-size: 1.7rem;    
}
.section3 p{    
   font-size: 1.2rem;
   font-weight: 300;
}

/*********************** section4 **********************/
.section4 .inner{
    margin:100px auto;  
}
.section4 h3{
    font-size: 1.2em;
    padding: 20px 0;
    font-style: italic;
}
.section4 p{
    font-size: 1em;
    padding-top: 30px;
}


/*********************** footer **********************/
footer{
    background-color: #E8E1E1;
    height: 400px;
    font-size: 0.9rem;
    color: #555;
}
footer ul{
    clear: both;
}
footer ul li{
    float: left;
    padding:50px 0;
    margin-right: 40px;

}

footer .top span{
    color:#DE5450;
}
footer .bottom{
    clear: both;
    border-top: 1px solid#DE5450;
    padding-top: 50px;
}
footer .bottom p{
    float: left;
}
footer .bottom p a{
    display: inline-block;
    border:1px solid#b1b1b1;
    width: 118px;
    font-size: 0.7rem;
    font-weight: 300;
    background-color: #ddd;
    background-image: url(../img/arrow3.png);
    background-repeat: no-repeat;
    background-position:95px;
    margin-right: 15px;
    padding-left: 8px;
}
footer .bottom p:last-child{
    padding-left: 50px;
}


/*********************** quick-menu **********************/
.chat{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #EC7875;
    background-image: url(../img/humbleicons_chats.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 17px 1px;
    width: 130px;
    height: 130px;
    color:#fff;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 80px;
    text-align: center;
    padding-top: 85px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}